button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #0070d2;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

button:hover {
    background-color: #fff;
}

button:active {
    color: #fff;
    background-color: #0070d2;
}